# Core LangChain
langchain
langchain-openai
langchain-community
langchain-chroma
langchain-text-splitters

# Vector database
chromadb

# Environment variables
python-dotenv

# API
fastapi
httpx

# Document loading
pypdf

# Web app UI
streamlit
